body {
    background-image: url("../images/accueil.jpg" );
    background-color: white;
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    
}

#content {
    font-family: "Open Sans",Arial,sans-serif;
    color : white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 130px;
    text-shadow: 0 0 15px #0000007a, 0 0 100px #000000;
}
