body {
    background-image: url("../images/68.jpg" );
    background-color: white;
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
    
}

#content {
    font-family: "Open Sans",Arial,sans-serif;
    color : white;
    text-align: center;
    padding-top: 130px;
    text-shadow: 0 0 5px black, 0 0 5px black;
}
