html, body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
    padding-bottom: 140px;
}

#content {
    padding:50px 15px;
}

.jumbotron {
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    /* text-shadow: 
    4px 4px 0px #d5d5d5, 
    7px 7px 0px rgba(0, 0, 0, 0.2); */
}

#footer {
    position: absolute;
    bottom: 0px;
    padding-top: 30px;
    width: 100%;
    height: 140px;
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: black;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .pagination {
    justify-content: center;
 }
